@page "/login/microsoft"
@using WebOS.Pages.Login.Components
@inject MicrosoftAuthenticationProvider MicrosoftAuthenticationProvider
@inject ILogger<LoginMicrosoftCallback> Logger

<LoginPanel AlwaysAnimation=true>
    <div class="loader">Logging in...</div> 
</LoginPanel>

@code
{
    protected override async Task OnInitializedAsync()
    {
        var callbackUrl = Navigation.Uri;

        // Remove token from address bar.
        Navigation.NavigateTo("/login/microsoft");

        // Login, if any failure, return the login page again.
        try
        {
            await MicrosoftAuthenticationProvider.LoginAsync(callbackUrl);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, ex.Message);

            Navigation.NavigateTo("/login");
        }
    }
}