h2 {
    font-size: 2em;
    color: #fff;
    margin-top: -16px;
}

.inputBx {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.inputBx input {
    position: relative;
    width: 100%;
    padding: 12px 20px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 1.2em;
    color: #fff;
    box-shadow: none;
    outline: none;
}

.inputBx input {
    width: 100%;
    background: #0078ff;
    background: linear-gradient(45deg, #ff357a, #fff172);
    border: none;
    cursor: pointer;
}

.inputBx input::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

.inputBx input:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}