@namespace Desktop.Components
@inherits ComponentBase
@inject ApplicationManager ApplicationManager

<div class="dock">
    @if (ApplicationManager.PinedApplications.Count > 0)
    {
        <div @ref="m_container" class="container" @onmousemove="OnMouseMove" @onmouseleave="OnMouseLeave">
            @foreach (var app in ApplicationManager.PinedApplications)
            {
                <DockItem Icon="@app.Icon" Name="@app.DisplayName" Style="@($"width: {DefaultIconWidth}rem")" OnClick="e => OnOpen.InvokeAsync(app)" />
            }
        </div>
    }
</div>

@code
{
    private const double DefaultIconWidth = 3.6;

    protected override string? JSFile
    => "/Components/Dock/Dock.razor.js";

    private ElementReference m_container;

    [Parameter]
    public EventCallback<AppDto> OnOpen { get; set; }

    protected override void OnInitialized()
    {
        ApplicationManager.PinedApplications.CollectionChanged += (s, e) => StateHasChanged();
    }

    private async Task OnMouseMove(MouseEventArgs e)
    => await (JSModule?.InvokeVoidAsync("OnMouseMove", m_container, e.ClientX, DefaultIconWidth) ?? default);

    private async Task OnMouseLeave(MouseEventArgs e)
    => await (JSModule?.InvokeVoidAsync("OnMouseLeave", m_container, DefaultIconWidth) ?? default);

    public override ValueTask DisposeAsync()
    {
        ApplicationManager.PinedApplications.CollectionChanged -= (s, e) => StateHasChanged();
        return base.DisposeAsync();
    }
}