.left-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: .5rem;
    border-right: 1px solid rgb(47, 51, 54);

    .nav-item {
        display: flex;
        width: 3rem;
        height: 3rem;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;

        svg {
            width: 1.75rem;
            height: 1.75rem;
            fill: currentColor;
        }
    }

    .nav-item:hover {
        background-color: rgba(231, 233, 234, 0.082);
    }
}

.timeline {
    display: flex;
    flex: 1;
    border-right: 1px solid rgb(47, 51, 54);
    flex-direction: column;

    .item {
        display: flex;
        padding: 1rem;
        border-bottom: 1px solid rgb(47, 51, 54);
        min-height: 8rem;

        .avatar-column {
            .avatar {
                img {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }

        .content-column {
            display: flex;
            margin-left: .5rem;
            flex-direction: column;
            flex: 1;

            .author-row {
                height: 1.25rem;
                line-height: 1.25rem;
                font-weight: 700;
            }

            .content {
                flex: 1
            }

            .action-bar {
                display: flex;
                justify-content: space-between;

                .btn {
                    color: rgb(47, 51, 54);

                    svg {
                        width: 1.25rem;
                        height: 1.25rem;
                        fill: currentColor;
                    }
                }

                .btn:hover {
                    color: #038358;
                    cursor: pointer;
                }
            }
        }
    }
}

.right-nav {
    display: flex;
    width: 18rem;
    flex-direction: column;
    padding: 0 1rem;
    gap: .5rem;

    .search {
        border: 1px solid rgb(47, 51, 54);
        border-radius: 10rem;
        position: relative;
        color: rgb(47, 51, 54);

        .icon {
            width: 1.25rem;
            height: 1.25rem;
            position: absolute;
            left: .5rem;
            top: .625rem;

            svg {
                fill: currentColor;
            }
        }

        input {
            outline: none;
            height: 2.5rem;
            border: none;
            background: transparent;
            padding-left: 2rem;
            color: rgb(231, 233, 234);
        }
    }

    .section {
        border: 1px solid rgb(47, 51, 54);
        border-radius: 1rem;
        padding: 1rem;

        .title {
            font-size: 1.25rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
    }

    .source-item {
        display: flex;

        .avatar {
            img {
                width: 2.25rem;
                height: 2.25rem;
            }
        }

        .info {
            margin-left: .5rem;
            display: flex;
            flex-direction: column;
        }

        .author-row {
            display: flex;
            justify-content: space-between;

            .author {
                font-weight: 700;
            }

            .id {
                color: rgb(113, 118, 123);
                line-height: 1.25rem;
            }

            .action {
                .btn {
                    background-color: rgb(239, 243, 244);
                    color: #000;
                    min-width: 2rem;
                    min-height: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    border-radius: 1rem;
                    font-size: .85rem;
                    font-weight: 700;
                    user-select: none;
                    cursor: pointer;
                }
            }
        }

        .intro {
            margin-top: .375rem;
        }
    }
}