@using Desktop.Layouts.Redirections
@using System.Security.Claims
@inherits LayoutComponentBase
@inject UserManager UserManager
@implements IDisposable
@layout MainLayout

<AuthorizeView>
    <Authorized>
        <CascadingValue Value="m_user" Name="User">
            <div class="authorized-view">
                @Body
            </div>
        </CascadingValue>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>

@code
{
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    private UserProfileDto? m_user;

    protected async override Task OnInitializedAsync()
    {
        if (authenticationState != null)
        {
            var authState = await authenticationState;
            var userId = authState.User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
            if (userId != null)
            {
                m_user = await UserManager.GetUserProfileAsync(userId);
                if (m_user != null)
                {
                    m_user.UserProfileUpdated += (s, e) => StateHasChanged();
                }
            }
        }
    }

    public void Dispose()
    {
        if (m_user != null)
        {
            m_user.UserProfileUpdated -= (s, e) => StateHasChanged();
        }
    }
}