.authorized-view {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.desktop {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.windows-area {
    display: flex;
    flex: 1;
}