html, body, #app {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--theme-color);
    background-color: var(--theme-background);
}

* {
    box-sizing: border-box;
}