@page "/login"

<div class="background"></div>

<div class="page">
    <div class="ring">
        <i style="--clr:#00ff0a;"></i>
        <i style="--clr:#ff0057;"></i>
        <i style="--clr:#fffd44;"></i>
        <div class="login">
            <div class="logo">
                <img class="shadow" src="/assets/img/logo.svg" />
                <img src="/assets/img/logo.svg" />
            </div>
            <h2>WebOS <sup>&reg;</sup></h2>
            <div class="inputBx">
                <input type="submit" value="Sign in with Microsoft">
                <input type="submit" value="Sign in as Guest">
            </div>
        </div>
    </div>
</div>